* {
  box-sizing: border-box;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 80px;
}

.App > h1 {
  margin-bottom: 5px;
}

.App > h2 {
  margin-top: 5px;
  opacity: 0.7;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.fetch-button {
  min-width: 150px;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(54, 202, 165);
  border: none;
  color: rgb(15, 66, 54);
  transition: all 0.5s;
}

.fetch-button:hover {
  background-color: rgb(40, 209, 209);
}

.vaccines-detail {
  display: flex;
  flex-wrap: wrap;
}

.vaccine-detail {
  background: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 23%;
  color: #333;
  flex-basis: width;
  background-color: rgb(165, 230, 230);
}

.vaccine-detail h3 {
  margin-bottom: 5px;
  font-size: 1rem;
  opacity: 0.7;
}

.vaccine-detail h2 {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.details {
  text-align: left;
}

.effect-8 {
  border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.form-inline .effect-8 {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
}

.MuiInputLabel-filled {
  transform: translate(12px, 5px) scale(1)!important;
}

.input{
  -webkit-appearance: none;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #d3dde6;
    color: #0e3254;
    display: block;
    font-family: inherit;
    font-size: inherit;
    height: 42px;
    outline: none;
    padding: 0 12px;
    transition: border-color .2s;
}

.input.-focused, .input:focus {
  border-color: #438cd2;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .vaccine-detail {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width:767px) {
  .vaccine-detail {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:991px) {
  .vaccine-detail {
    width: 47%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width:1023px){
  .vaccine-detail {
    width: 30%;
  }
}

@media only screen and (min-width: 1024px) and (max-width:1199px){
  .vaccine-detail {
    width: 47%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .vaccine-detail:only-child {
    width: 47%;
  }
  .vaccine-detail:first-child:nth-last-child(2),
  .vaccine-detail:first-child:nth-last-child(2) ~ .vaccine-detail {
    width: 47%;
  }

  .vaccine-detail:first-child:nth-last-child(3),
  .vaccine-detail:first-child:nth-last-child(3) ~ .vaccine-detail {
    width: 31%;
  }
}